.box{
       height: 300px;
       width: 300px;
       /* border: 2px solid black; */
       border-radius: 50%;
       align-items: center;
       justify-content: center;
       background-color: aliceblue;
       box-shadow: 1px 2px 2px greenyellow;
       padding: 0;
       margin: 0;
       

}
.center{
          text-align: center;
          font-size: 30px;
}

.box:hover{
      transform: scale(1.019);
}

#drop:hover{
       transform: scale(1.019);
}

.bbox{
        width:1500px;
        height: 400px;
        
        align-items: center;
        justify-content: space-evenly ;
        display: flex;
       

}
#drop{
    width: 60px;
    height: 60px;
}